html {
  background-color: pink;
}
.App {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 25%;
  margin-left: -50px;
  margin-top: -50px;
  color: rgb(12, 1, 1);
}
.box {
  border: 2px solid whitesmoke;
  border-radius: 10px;
  padding-left: 25px;
}
